* {
  margin: 0;
  padding: 0;

  --page-margin: 10%;
}

html {
  padding: 0 var(--page-margin);
}

:root {
  --calc-temp: calc(var(--page-margin) * 2);
  width: calc(100% - var(--calc-temp));
}

.App {
  width: 100%;
  height: 100%;

  font-size: 20px;
  text-align: center;
}

.chord {
  font-family: "Bravura";
  font-size: 75px;
  font-weight: 400;
  padding: 50px 0;
}

.tableWrapper {
  --maxSize-half: 400px;
  max-width: calc(var(--maxSize-half)*2);
  padding-left: calc(50% - var(--maxSize-half));
}

.chord p {
  display: inline;
  user-select: none;
}

.message {
  font-family: "Bravura";
  font-size: 30px;
  line-height: 30px;
  font-weight: 200;
}

.buttonDiv {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttonGeneral {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;

  user-select: none;
}


@font-face {
  font-family: 'Bravura';
  src: url('../public/Bravura.woff2') format('woff2'),
       url('../public/Bravura.woff') format('woff');
}

@media only screen and (max-width: 600px) {
  html {
    padding: 0;
  }
	:root {
    width: 100%;
  }
}